@font-face {
    font-family: "JosefinSans";
    src: url(fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "JosefinSans";
    src: url(fonts/JosefinSans-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: "JosefinSans";
  }
  
  h1 {
      font-size: min(2.4rem, 2.4vw);
      margin: 0;
  }
  
  .categoryHeader {
      margin: 0;
      font-size: 1.7rem;
  }
  
  h3.userFullName {
      /* background-color: red; */
      /* height: 20px; */
      /* width: 20px; */
      justify-self: start;
  }
  
  .userAvatar {grid-column: 1 / 2;grid-row: 1 / 3;/* width: 80px; */height: 75px;border-radius: 50px;align-self: center;background: #d1003d;}
  
  h2 {align-self: start;margin-top: 10px;margin: 0;}
  
  button {
      /* width: 100px; */
      height: 35px;
      border-radius: 20px;
      border: none;
      background-color: #c20048;
      color: white;
      cursor: pointer;
      font-weight: bold;
  }
  
  input {
      width: 85%;
      max-width: 800px;
      border-radius: 10px;
      background-color: #d4dfe9;
      height: 32px;
      border: #0b0b0b14 solid 1px;
      margin-left: 25px;
  }
  
  .container {
      display: grid;
      grid-template-columns: minmax(60px, 3fr) 13fr;
      grid-template-rows: 160px 1fr;
      min-height: 100vh;
      /* min-width: 100vw; */
  }
  
  .header {
      background-color: #f2f2f0;
      grid-column: 2;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 1fr 1fr;
      padding-left: clamp(3px, 3vw, 50px);
      padding-bottom: 10px;
      padding-right: clamp(3px, 4vw, 70px);
      justify-content: start;
  }
  
  .search {
      grid-area: 1 / 1 / 2 / 5;
      display: grid;
      align-items: center;
      justify-items: start;
      grid-template-columns: 20px 1fr;
  }
  
  .user-info {
    display: grid;
    grid-column: 6 / 8;
    grid-template-columns: 1fr 50px 1fr;
    grid-gap: 30px;
    align-items: center;
    justify-items: end;
}
  
  .notify {
      width: 25px;
      height: 25px;
      background-image: url(icons/bell-ring-outline.svg);
  }
  
  .userGreet {
      grid-area: 2 / 1 / 2 / 3;
      display: grid;
      grid-template-columns: 75px 10fr;
      grid-template-rows: 30px 50px;
      align-items: end;
      grid-column: 1 / 5;
      font-size: clamp(0.5rem, 1vw, 1.1rem);
      grid-gap: 0 7px;
  }
  
  .actBtns {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      grid-column: 6 / 8;
      grid-row: 2;
      grid-gap: min(25px, 1vw);
      align-items: end;
      align-content: center;
      justify-content: end;
  }
  
  .sidebar {
      background-color: #831e39;
      grid-row: 1 / 3;
      display: grid;
      color: white;
      font-weight: bold;
      font-size: min(2rem, 1.3vw);
      grid-template-rows: 40px 1fr 2fr;
      gap: 35px;
      justify-items: start;
      align-items: start;
      justify-content: center;
      padding: 20px;
  }
  
  .main-content {
      background-color: #dde0e2;
      grid-column: 2;
      grid-row: 2;
      display: grid;
      grid-template-columns: 7fr 2fr;
      gap: 1vw;
      padding: 0 25px 0 25px;
      grid-template-rows: 1fr 1fr;
  }
  
  .projects {
      grid-column: 1;
      grid-row: 1 / 3;
      display: grid;
      /* grid-template-columns: 1fr 1fr; */
      grid-template-rows: 2rem 1fr;
      gap: 20px;
      margin-top: 30px;
  }
  
  .nav {
      display: grid;
      gap: 10px;
  }
  
  .extras {
      display: grid;
      gap: 10px;
  }
  
  .projContainer {
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-column: 1 / 3;
      gap: 20px;
      margin: 0px 0px 30px 0px;
  }

  .projCard {
      background-color: white;
      border-left: 10px #2a8cd2 solid;
      border-radius: 10px;
      padding: 25px;
  }
  
  .announcments {
      display: grid;
      grid-template-rows: 2rem 1fr;
      gap: 20px;
      margin-top: 30px;
      grid-row: 1 / 2;
  }
  
  .article-post {
      grid-column: 1 / 3;
      font-size: 0.9rem;
      margin-right: 40px;
      margin-left: 40px;
      padding-top: 20px;
  }
  
  .announcments-feed {
      display: grid;
      border-radius: 10px;
      background-color: white;
      grid-template-rows: repeat(3, 1fr);
      /* padding: 20px; */
  }
  
  .announcments-feed > * + * {
      border-top: 1px solid #808080c4;
      margin-bottom: 10px;
  }
  
  .projectHeader {
      grid-column: 1 / 3;
  }
  
  .trending {
      grid-column: 2;
      display: grid;
      grid-template-rows: 2rem 1fr;
      gap: 25px;
      margin-bottom: 30px;
  }
  
  p {
      font-size: 0.9rem;
  }
  
  .trendFeed {
      background: white;
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      border-radius: 10px;
  }
  
  .trendCard {
    display: grid;
    grid-template-columns: 50px 5fr;
    align-content: center;
    align-items: center;
    grid-gap: 0 30px;
    margin-left: 25px;
    margin-right: 25px;
    color: black;
    text-decoration: none;
}

.miniAvatar {
    height: 50px;
    background-color: blue;
    border-radius: 50px;
    width: 50px;
}

.trendCard > .miniAvatar {
    grid-row: 1 / 3;
}

.trendFeed > a > span {
    color: #4c4c53;
}

.projCard > p {
    color: #4c4c53;
    margin-top: 10px;
    font-size: 1em;
}

.article-post > p {
    color: #4c4c53;
    margin-top: 3px;
    font-size: 0.8rem;
}

.projCard > h3 {
    font-size: 1.3rem;
}

.article-post > h4 {
    font-size: 0.93rem;
}

i.searchBtn {
    background-image: url(icons/magnify.svg);
    grid-column: 1 / 2;
    width: 25px;
    height: 25px;
    cursor: pointer;
}